.rectangular {
  height: 419px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
}
.videoCardSmall {
  width: 629px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
