.bookmarkBorderIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bookmarkBorderWrapper {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.background {
  align-self: stretch;
  height: 887px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.desktopL1440x1080 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 63px var(--padding-81xl) var(--padding-51xl);
  box-sizing: border-box;
  gap: 44px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 720px) {
  .desktopL1440x1080 {
    gap: var(--gap-3xl);
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 360px) {
  .desktopL1440x1080 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}