.noise {
  position: absolute;
  top: 2755px;
  left: 0px;
  width: 1440px;
  height: 900px;
  display: none;
  opacity: 0.5;
  mix-blend-mode: lighten;
}
.truthTokenomics {
  margin: 0;
  align-self: stretch;
  height: 98px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(90deg, #00fff2, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0px 0px 75.2px rgba(39, 255, 87, 0.86),
    0px 4px 7px rgba(39, 255, 87, 0.53);
}
.truthchainVerified {
  flex: 1;
  position: relative;
  line-height: 34px;
  background: linear-gradient(90deg, #00fff2, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-shadow: 0px 4px 23px rgba(0, 255, 242, 0.4);
  max-width: 100%;
}
.tokenDescriptionParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-109xl) 0px var(--padding-110xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.truthTokenomicsParent {
  width: 1244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.homeXl1920x1080Inner {
  position: absolute;
  top: 4932px;
  left: 0px;
  width: 1582px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-77xl);
  font-family: var(--font-digital-7);
}
.homeXl1920x1080 {
  width: 100%;
  height: 8824px;
  position: relative;
  background-color: var(--dark-border-disabled);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 450px) {
  .homeXl1920x1080 {
    height: auto;
    min-height: 8824;
  }
}
