.b034ab39da047c7Ac04A544718 {
  align-self: stretch;
  height: 1080px;
  position: relative;
  display: none;
  z-index: 1;
}
.noise {
  width: 1440px;
  height: 900px;
  position: relative;
  display: none;
  opacity: 0.5;
  mix-blend-mode: lighten;
  max-width: 100%;
}
.abstractGreenBackgroundLigh {
  width: 1449px;
  height: 812.2px;
  position: relative;
  transform: rotate(-90deg);
  display: none;
  mix-blend-mode: color-dodge;
  max-width: 100%;
}
.abstractGreenBackgroundLigh1 {
  width: 1901px;
  height: 1066px;
  position: relative;
  transform: rotate(90deg);
  display: none;
  mix-blend-mode: color-dodge;
  max-width: 100%;
}
.logoVerafy {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 4;
}
.logoVerafy4Icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}
.logoVerafyParent {
  width: 120px;
  height: 120px;
  position: relative;
}
.vectorIcon {
  height: 947px;
  width: 822px;
  position: relative;
  max-width: 100%;
}
.vectorWrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  margin-left: -910.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1371px;
  min-width: 901px;
  flex-shrink: 0;
  max-width: 100%;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0px 0px;
  box-sizing: border-box;
  min-width: 1367.5px;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 213px var(--padding-3xs) 339px;
  box-sizing: border-box;
  gap: 9.5px;
  max-width: 100%;
}
.footerChild {
  align-self: stretch;
  width: 1501px;
  position: relative;
  border-top: 1px solid var(--blue-gradient);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.footer {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.tokenomicsXl1920x1080 {
  width: 100%;
  position: relative;
  background-color: var(--dark-border-disabled);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0px 120px;
  box-sizing: border-box;
  gap: 79px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1850px) {
  .frameGroup {
    flex: 1;
    min-width: 100%;
  }

  .frameWrapper {
    flex: 1;
    min-width: 100%;
  }

  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1400px) {
  .frameWrapper {
    min-width: 100%;
  }

  .frameParent {
    padding-left: 169px;
    padding-right: 106px;
    box-sizing: border-box;
  }

  .tokenomicsXl1920x1080 {
    gap: 39px;
  }
}
@media screen and (max-width: 925px) {
  .frameGroup {
    gap: 685px;
  }

  .frameWrapper {
    min-width: 100%;
  }

  .frameParent {
    padding-left: 84px;
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }

  .tokenomicsXl1920x1080 {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: 343px;
  }

  .frameWrapper {
    min-width: 100%;
  }
}
